syntax: glob
*~
*.db
*.out
*.gz
*.csv
*.txt
indy.sh
*.png
*.mat
*.old
*.bak
*.toc
*.blg
*.zip
*.d
*.tmp
*.dvi
*.aux
*.log
*.snm
*.nav
*.bbl
*.o
*.mk
*.backup
*.ts
*.t
.cproject
.project
run.sh
svm.sh
shrink.sh
syncsrc.sh
hector.sh
large_scale_newton.cpp
eddiesyn.sh
nase.tpo
.hg
data/svm
donoho.sh
cpp/results
archer.sh
c/.metadata
release/*
matlab/lib/gloptipoly3
octave-core
data
release
